[user]
	name = Nicolas Klein
	email = nicolas.klein@datadoghq.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPEzsDZt2wg5HPpd2dquC2IauEe0Z7t3jZ1AX5TD/t1t nicolas.klein+git-commit-signing@datadoghq.com

[commit]
	gpgsign = true

[gpg]
	format = ssh

[url "git@github.com:DataDog/"]
	insteadOf = https://github.com/DataDog/

[push]
	autoSetupRemote = true
